/*
	COMP 1950 - Web Development and Design 2
    Final Project
	Team:
        Bo Ra Choi
        Marcos Torres Garza
*/
body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 1em;
    font: 1em Arial, Helvetica, sans-serif;
}

/* Header Section*/
header h1 {
    
}
